.card_bardi {
  max-width: 100%;
  width: 45%;
  min-width: 300px;
  height: 400px;
  background-image: url(../img/bardi/mockupPhonesCover.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  transition: ease-in-out 500ms;
  color: transparent;
  margin-right: 1em;
  margin-top: 1.5em;
  position: relative;
}

.card_bardi::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d93232; /*  mod */
  transition: ease-in-out 500ms;
}

.card_bardi:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d93232;
  transition: ease-in-out 500ms;
}

.card_bardi:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
}


/* passanela --------------------------------------------------------------------------------------------------------------------------- */

.card_passa {
  max-width: 100%;
  width: 45%;
  min-width: 300px;
  height: 400px;
  background-image: url(../img/img_passanela.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  transition: ease-in-out 500ms;
  color: transparent;
  margin-top: 1.5em;
  position: relative;
}

.card_passa::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: ease-in-out 500ms;
}

.card_passa:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebcf5f;
  transition: ease-in-out 500ms;
}

.card_passa:hover {
  transform: scale(1.1);
  color: #2e2e2e;
  cursor: pointer;
}